[submodule "libraries"]
	path = libraries
	url = https://github.com/Kuebler-IT/joomla-platform.git
[submodule "libraries/"]
	path = libraries/
	url = https://github.com/Kuebler-IT/joomla-platform.git
