				</div>
				<div class="col-sm-2 hidden-xs">
				</div>
			</div>
		</div>
		<div style="background-color:#FFFFFF;">
			<div class="container" style="margin-top:20px ;padding-top: 10px; padding-bottom: 30px;">
				<div >
					<p class="col-md-5">
						<a href="pages.php?id=privacy">{-$menu_privacy}</a> |
						<a href="pages.php?id=terms">{-$menu_terms}</a> |
						<a href="pages.php?id=imprint">{-$menu_imprint}</a> |
						<a href="javascript: contact();">{-$menu_contact}</a></p>
					<p class="col-md-7" style="color: #d9d9d9;text-align:right;">
						Powered by <a href="http://www.cunity.net" style="color: #d9d9d9;">CUNITY&reg;</a> - &copy; 2011 - 2013 by Smart In Media GmbH & Co. KG
					</p>
				</div>
			</div>
		</div>
	</body>
</html>