		<div style="background-color:#FFFFFF;">
			<!-- start: contact modal box -->
			<script type="text/javascript">
				$(document).on("click", "#contactModalSubmit", function() {
					var btn = $(this);
					btn.button("loading");
					$.ajax({
						url: "controllers/ajaxContactController.php",
						type: "GET",
						data: $("form#contact-form").serialize(),
						success: function(msg) {
							$('#contactMsg').append('<div class="alert alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times</button>'+msg+'</div>');
							btn.button("reset");
						},
						error: function() {
							alert("Error on transfer");
						}
					});
				});
			</script>
			<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h3 class="modal-title">Kontakt</h3>
						</div>
						<div class="modal-body" id="contactModalBody">
							<div id="contactMsg"></div>
							<form id="contact-form" class="form-horizontal">
								<div class="form-group">
									<label for="contact_name" class="col-lg-3 control-label">Ihr Name:</label>
									<div class="col-lg-9">
										<input type="text" class="form-control" id="contact_name" placeholder="Vorname Nachname" />
									</div>
								</div>
								<div class="form-group">
									<label for="contact_email" class="col-lg-3 control-label">Ihre E-Mail:</label>
									<div class="col-lg-9">
										<input type="email" class="form-control" id="contact_email" placeholder="email@example.org" />
									</div>
								</div>
								<div class="form-group">
									<label for="contact_message" class="col-lg-3 control-label">Ihre Nachricht:</label>
									<div class="col-lg-9">
										<textarea id="contact_message" class="form-control" rows="5" ></textarea>
									</div>
								</div>
								<input type="hidden" name="c" value="sendContact" />
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" data-loading-text="Sending..." id="contactModalSubmit">Send</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
  			<!-- end: contact modal box -->
  			<!-- start: footer content -->
			<div class="container" style="padding-top: 30px; padding-bottom: 30px;">
				<!-- start: mobile footer content -->
				<div class="visible-xs">
					<p class="col-xs-12" style="text-align:center;">
						<a href="pages.php?id=privacy">{-$menu_privacy}</a> |
						<a href="pages.php?id=terms">{-$menu_terms}</a> |
						<a href="pages.php?id=imprint">{-$menu_imprint}</a> |
						<a href="#contactModal" data-toggle="modal">{-$menu_contact}</a>
					</p>
					<p class="col-xs-12" style="color: #898989;text-align:center;">
						Powered by <a href="http://www.cunity.net" style="color: #898989;">CUNITY&reg;</a> - &copy; 2011 - 2013 by Smart In Media GmbH & Co. KG
					</p>
				</div>
				<!-- end: mobile footer content -->
				<!-- start: default footer content -->
				<div class="hidden-xs">
					<p class="col-sm-5">
						<a href="pages.php?id=privacy">{-$menu_privacy}</a> |
						<a href="pages.php?id=terms">{-$menu_terms}</a> |
						<a href="pages.php?id=imprint">{-$menu_imprint}</a> |
						<a href="#contactModal" data-toggle="modal">{-$menu_contact}</a>
					</p>
					<p class="col-sm-7" style="color: #898989;text-align:right;">
						Powered by <a href="http://www.cunity.net" style="color: #898989;">CUNITY&reg;</a> - &copy; 2011 - 2013 by Smart In Media GmbH & Co. KG
					</p>
				</div>
				<!-- end: default footer content -->
			</div>
			<!-- end: footer content-->
		</div>
	</body>
</html>