<!DOCTYPE html>
<html>
	<head>
		<title>{-$TITLE}</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta name="description" content="{-$SLOGAN}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="style/cunity/css/bootstrap.css" />
		<!-- <link rel="stylesheet" type="text/css" href="style/cunity/css/base-start.css" /> -->
		<link rel="stylesheet" type="text/css" href="style/cunity/css/style-red.css" />
	</head>
	
	<body>
		<script src="style/cunity/js/jquery.js"></script>
		<script src="style/cunity/js/bootstrap.js"></script>
		<script type="text/javascript">
		$('body').on('hide.bs.modal', '.modal', function () {
		    $(this).removeData('bs.modal');
		});
		</script>
		<!-- start: dynamic modal content -->
		<div class="modal fade" id="modalContainer" tabindex="-1" role="dialog" aria-hidden="true">
		</div>
		<!-- end: dynamic modal content -->
		<div style="background-color:#FFFFFF;">
			<div class="container">
				<div class="col-xs-4 col-sm-2">
					<a href="index.php">
						<img alt="Cunity Logo" src="style/cunity/images/logo.png" class="visible-xs"/>
						<img alt="Cunity Logo" src="style/cunity/images/logo.png" class="img-responsive hidden-xs"/>
					</a>
				</div>
				<div class="col-xs-7 col-sm-4">
					<img alt="Cunity Slogan" src="style/cunity/images/slogan.png" class="visible-sm" />
					<img alt="Cunity Slogan" src="style/cunity/images/slogan.png" class="img-responsive hidden-xs" />
				</div>
				<div class="col-sm-6 hidden-xs">
					<form action="register.php" method="GET" style="margin-top:20px;">
						<div class="input-group-sm col-sm-4 col-sm-offset-1" style="padding-right:0px;">
							<input type="text" name="mail" class="form-control" placeholder="{-$sidebar_mail}Email" />
							<label style="font-weight: normal;">
								<input type="checkbox" name="save_login" value="yes"> {-$sidebar_keep_online} Angemeldet bleiben
							</label>
						</div>
						<div class="input-group-sm col-sm-4" style="padding-right: 0px;">
							<input type="password" name="pass" class="form-control" placeholder="{-$sidebar_pass}Password" />
							<a href="register.php?c=resetpw" >{-$sidebar_forgot_pw}Passwort vergessen ?</a>
						</div>
						<div class="col-sm-3">
							<input type="hidden" name="c" value="login" />
							<input type="submit" class="btn btn-primary btn-sm" name="login" value="Anmelden" style="margin-top: 0px;" />
						</div>        
					</form>
				</div>
			</div>
		</div>